* {
	PADDING-BOTTOM: 0px; MARGIN: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; PADDING-LEFT: 0px; OUTLINE-WIDTH: medium; PADDING-RIGHT: 0px; FONT-SIZE: 1em; TEXT-DECORATION: none; PADDING-TOP: 0px
}
CODE {
	FONT: ; WHITE-SPACE: normal
}
KBD {
	FONT: ; WHITE-SPACE: normal
}
SAMP {
	FONT: ; WHITE-SPACE: normal
}
PRE {
	FONT: ; WHITE-SPACE: normal
}
TT {
	FONT: ; WHITE-SPACE: normal
}
VAR {
	FONT: ; WHITE-SPACE: normal
}
TEXTAREA {
	FONT: ; WHITE-SPACE: normal
}
INPUT {
	FONT: ; WHITE-SPACE: normal
}
SELECT {
	FONT: ; WHITE-SPACE: normal
}
XMP {
	FONT: ; WHITE-SPACE: normal
}
DFN {
	FONT-STYLE: normal
}
I {
	FONT-STYLE: normal
}
CITE {
	FONT-STYLE: normal
}
VAR {
	FONT-STYLE: normal
}
ADDRESS {
	FONT-STYLE: normal
}
EM {
	FONT-STYLE: normal
}
TH {
	FONT-WEIGHT: normal
}
B {
	FONT-WEIGHT: normal
}
STRONG {
	FONT-WEIGHT: normal
}
H1 {
	FONT-WEIGHT: normal
}
H2 {
	FONT-WEIGHT: normal
}
H3 {
	FONT-WEIGHT: normal
}
H4 {
	FONT-WEIGHT: normal
}
H5 {
	FONT-WEIGHT: normal
}
H6 {
	FONT-WEIGHT: normal
}
A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
A IMG {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
FORM {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
FIELDSET {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
ABBR {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
ACRONYM {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
OBJECT {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
TABLE {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
TABLE {
	BORDER-SPACING: 0; BORDER-COLLAPSE: collapse
}
CAPTION {
	TEXT-ALIGN: left; VERTICAL-ALIGN: top
}
TH {
	TEXT-ALIGN: left; VERTICAL-ALIGN: top
}
TD {
	TEXT-ALIGN: left; VERTICAL-ALIGN: top
}
CENTER {
	TEXT-ALIGN: left; VERTICAL-ALIGN: top
}
BODY {
	LINE-HEIGHT: 1; BACKGROUND: white; COLOR: black
}
Q {
	QUOTES: "" ""
}
UL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
OL {
	LIST-STYLE-TYPE: none; LIST-STYLE-IMAGE: none
}
SUB {
	VERTICAL-ALIGN: baseline
}
SUP {
	VERTICAL-ALIGN: baseline
}
A {
	COLOR: inherit
}
BODY {
	FONT-FAMILY: "Frutiger", "Helvetica Neue", arial, helvetica, sans-serif; FONT-SIZE: 75%
}
HTML > BODY {
	FONT-SIZE: 12px
}
H1 {
	FONT-WEIGHT: bold
}
H2 {
	FONT-WEIGHT: bold
}
H3 {
	FONT-WEIGHT: bold
}
H4 {
	FONT-WEIGHT: bold
}
H5 {
	FONT-WEIGHT: bold
}
H6 {
	FONT-WEIGHT: bold
}
H1 {
	LINE-HEIGHT: 0.9em; MARGIN: 0px 0px 0.9em; COLOR: #c10037; FONT-SIZE: 1.66em
}
H2 {
	LINE-HEIGHT: 1em; MARGIN: 0px 0px 1em; FONT-SIZE: 1.5em
}
H3 {
	LINE-HEIGHT: 1.12em; MARGIN: 0px 0px 1.12em; FONT-SIZE: 1.33em
}
H4 {
	LINE-HEIGHT: 1.28em; MARGIN: 0px 0px 1.28em; FONT-SIZE: 1.16em
}
P {
	LINE-HEIGHT: 1.5em; MARGIN: 0px 0px 1.5em; FONT-SIZE: 1em
}
UL {
	LINE-HEIGHT: 1.5em; MARGIN: 0px 0px 1.5em; FONT-SIZE: 1em
}
BLOCKQUOTE {
	LINE-HEIGHT: 1.5em; MARGIN: 0px 0px 1.5em; FONT-SIZE: 1em
}
PRE {
	LINE-HEIGHT: 1.5em; MARGIN: 0px 0px 1.5em; FONT-SIZE: 1em
}
TD {
	LINE-HEIGHT: 1.5em; MARGIN: 0px 0px 1.5em; FONT-SIZE: 1em
}
TH {
	LINE-HEIGHT: 1.5em; MARGIN: 0px 0px 1.5em; FONT-SIZE: 1em
}
LABEL {
	LINE-HEIGHT: 1.5em; MARGIN: 0px 0px 1.5em; FONT-SIZE: 1em
}
CODE {
	BORDER-BOTTOM: #ccc 1px dashed; POSITION: relative; BORDER-LEFT: #ccc 1px dashed; PADDING-BOTTOM: 0.5em; LINE-HEIGHT: 1.25em; OVERFLOW-X: auto; BACKGROUND-COLOR: #f7f7f7; MARGIN: 1em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; DISPLAY: block; FONT-FAMILY: monospace; WHITE-SPACE: pre; CLEAR: left; FONT-SIZE: 0.9em; BORDER-TOP: #ccc 1px dashed; BORDER-RIGHT: #ccc 1px dashed; PADDING-TOP: 0px
}
STRONG {
	FONT-WEIGHT: bold
}
B {
	FONT-WEIGHT: bold
}
EM {
	FONT-STYLE: italic
}
CAPTION {
	LINE-HEIGHT: 1em; MARGIN-TOP: 1em; MARGIN-BOTTOM: 0.25em; FONT-SIZE: 1.5em
}
TABLE {
	LINE-HEIGHT: 1.5em; FONT-SIZE: 1em
}
THEAD {
	LINE-HEIGHT: 1.5em; FONT-SIZE: 1em
}
TBODY {
	LINE-HEIGHT: 1.5em; FONT-SIZE: 1em
}
TR {
	LINE-HEIGHT: 1.5em; FONT-SIZE: 1em
}
TH {
	LINE-HEIGHT: 1.5em; FONT-SIZE: 1em
}
TD {
	LINE-HEIGHT: 1.5em; FONT-SIZE: 1em
}
TABLE {
	BORDER-COLLAPSE: collapse
}
TD {
	BORDER-BOTTOM: #ccc 0.1em solid; BORDER-LEFT: #ccc 0.1em solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 0.1em solid; BORDER-RIGHT: #ccc 0.1em solid; PADDING-TOP: 5px
}
TH {
	BORDER-BOTTOM: #ccc 0.1em solid; BORDER-LEFT: #ccc 0.1em solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; BORDER-TOP: #ccc 0.1em solid; BORDER-RIGHT: #ccc 0.1em solid; PADDING-TOP: 5px
}
TH {
	COLOR: #fff; FONT-WEIGHT: bold
}
THEAD TH {
	BACKGROUND: #c10037; COLOR: #fff; FONT-SIZE: 1.1em
}
THEAD TD {
	BACKGROUND-COLOR: #ddd
}
TBODY TH {
	BACKGROUND-COLOR: #ddd; COLOR: #555
}
TFOOT {
	FONT-WEIGHT: bold
}
TD.empty {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND-COLOR: transparent; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
THEAD TD.table_group {
	FONT-SIZE: 1.05em; FONT-WEIGHT: bold
}
TH.header {
	BACKGROUND-IMAGE: url(/v1/images/sort.gif); PADDING-RIGHT: 16px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 95% 7px; COLOR: #eee
}
TH.headerSortUp {
	BACKGROUND-IMAGE: url(/v1/images/sort_up.gif); PADDING-RIGHT: 16px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 95% 7px; COLOR: #fff
}
TH.headerSortDown {
	BACKGROUND-IMAGE: url(/v1/images/sort_down.gif); PADDING-RIGHT: 16px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 95% 7px; COLOR: #fff
}
FORM {
	POSITION: relative; PADDING-BOTTOM: 0px; MARGIN: 1.5em 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
FIELDSET {
	PADDING-BOTTOM: 1em; MARGIN: 0px 0px 15px; PADDING-LEFT: 1em; PADDING-RIGHT: 1em; COLOR: #555; BORDER-TOP: #c10037 2px solid; PADDING-TOP: 1em
}
LEGEND {
	PADDING-BOTTOM: 0.5em; LINE-HEIGHT: 1em; BACKGROUND-COLOR: inherit; MARGIN: 0px; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; COLOR: #555; FONT-SIZE: 1.5em; PADDING-TOP: 0.5em
}
LABEL {
	MARGIN: 0px
}
.image_button {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND-COLOR: transparent; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.image_button:hover {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND-COLOR: transparent; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.image_buttom:active {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND-COLOR: transparent; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.image_buttom:focus {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND-COLOR: transparent; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.rlabel {
	POSITION: relative; TEXT-ALIGN: right; WIDTH: 7em; FLOAT: left; CLEAR: both; MARGIN-RIGHT: 5px
}
.right_label {
	POSITION: relative; TEXT-ALIGN: right; WIDTH: 12em; FLOAT: left; CLEAR: both; MARGIN-RIGHT: 0.5em
}
.input_comment {
	PADDING-LEFT: 14em; MARGIN-BOTTOM: 1em; FONT-SIZE: 0.9em
}
OPTGROUP {
	BACKGROUND: #eee; COLOR: #000; BORDER-TOP: #808080 1px solid
}
OPTION {
	BACKGROUND: #fff; COLOR: #000
}
BUTTON {
	
}
SELECT {
	BORDER-BOTTOM: #555 1px solid; BORDER-LEFT: #555 1px solid; PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #eee; FONT-STYLE: normal; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; MARGIN-BOTTOM: 1.5em; COLOR: #555; VERTICAL-ALIGN: middle; BORDER-TOP: #555 1px solid; BORDER-RIGHT: #555 1px solid; PADDING-TOP: 1px
}
INPUT {
	BORDER-BOTTOM: #555 1px solid; BORDER-LEFT: #555 1px solid; PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #eee; FONT-STYLE: normal; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; MARGIN-BOTTOM: 1.5em; COLOR: #555; VERTICAL-ALIGN: middle; BORDER-TOP: #555 1px solid; BORDER-RIGHT: #555 1px solid; PADDING-TOP: 1px
}
TEXTAREA {
	BORDER-BOTTOM: #555 1px solid; BORDER-LEFT: #555 1px solid; PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #eee; FONT-STYLE: normal; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; MARGIN-BOTTOM: 1.5em; COLOR: #555; VERTICAL-ALIGN: middle; BORDER-TOP: #555 1px solid; BORDER-RIGHT: #555 1px solid; PADDING-TOP: 1px
}
BUTTON {
	BORDER-BOTTOM: #555 1px solid; BORDER-LEFT: #555 1px solid; PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #eee; FONT-STYLE: normal; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; MARGIN-BOTTOM: 1.5em; COLOR: #555; VERTICAL-ALIGN: middle; BORDER-TOP: #555 1px solid; BORDER-RIGHT: #555 1px solid; PADDING-TOP: 1px
}
INPUT {
	HEIGHT: 1.5em
}
SELECT {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
TEXTAREA:focus {
	BORDER-BOTTOM-COLOR: #555; BACKGROUND-COLOR: #ddd; BORDER-TOP-COLOR: #555; COLOR: #555; BORDER-RIGHT-COLOR: #555; BORDER-LEFT-COLOR: #555
}
SELECT:focus {
	BORDER-BOTTOM-COLOR: #555; BACKGROUND-COLOR: #ddd; BORDER-TOP-COLOR: #555; COLOR: #555; BORDER-RIGHT-COLOR: #555; BORDER-LEFT-COLOR: #555
}
INPUT:focus {
	BORDER-BOTTOM-COLOR: #555; BACKGROUND-COLOR: #ddd; BORDER-TOP-COLOR: #555; COLOR: #555; BORDER-RIGHT-COLOR: #555; BORDER-LEFT-COLOR: #555
}
BUTTON:focus {
	BORDER-BOTTOM-COLOR: #555; BACKGROUND-COLOR: #ddd; BORDER-TOP-COLOR: #555; COLOR: #555; BORDER-RIGHT-COLOR: #555; BORDER-LEFT-COLOR: #555
}
TEXTAREA:hover {
	BORDER-BOTTOM-COLOR: #555; BACKGROUND-COLOR: #ddd; BORDER-TOP-COLOR: #555; COLOR: #555; BORDER-RIGHT-COLOR: #555; BORDER-LEFT-COLOR: #555
}
SELECT:hover {
	BORDER-BOTTOM-COLOR: #555; BACKGROUND-COLOR: #ddd; BORDER-TOP-COLOR: #555; COLOR: #555; BORDER-RIGHT-COLOR: #555; BORDER-LEFT-COLOR: #555
}
INPUT:hover {
	BORDER-BOTTOM-COLOR: #555; BACKGROUND-COLOR: #ddd; BORDER-TOP-COLOR: #555; COLOR: #555; BORDER-RIGHT-COLOR: #555; BORDER-LEFT-COLOR: #555
}
BUTTON:hover {
	BORDER-BOTTOM-COLOR: #555; BACKGROUND-COLOR: #ddd; BORDER-TOP-COLOR: #555; COLOR: #555; BORDER-RIGHT-COLOR: #555; BORDER-LEFT-COLOR: #555
}
INPUT[disabled] {
	BACKGROUND-IMAGE: none; BACKGROUND-COLOR: #aaaaaa; COLOR: #eeeeee
}
SELECT[disabled] {
	BACKGROUND-IMAGE: none; BACKGROUND-COLOR: #aaaaaa; COLOR: #eeeeee
}
INPUT[disabled]:active {
	BORDER-BOTTOM: black 1px outset; BORDER-LEFT: black 1px outset; BORDER-TOP: black 1px outset; BORDER-RIGHT: black 1px outset
}
TEXTAREA {
	WIDTH: 90%
}
LABEL.error {
	WIDTH: 200px; COLOR: #c10037; MARGIN-LEFT: 1em; FONT-WEIGHT: bold
}
SELECT.error {
	BORDER-BOTTOM: #c10037 2px solid; BORDER-LEFT: #c10037 2px solid; MARGIN-LEFT: 0px; BORDER-TOP: #c10037 2px solid; BORDER-RIGHT: #c10037 2px solid
}
INPUT.error {
	BORDER-BOTTOM: #c10037 2px solid; BORDER-LEFT: #c10037 2px solid; MARGIN-LEFT: 0px; BORDER-TOP: #c10037 2px solid; BORDER-RIGHT: #c10037 2px solid
}
TEXTAREA.error {
	BORDER-BOTTOM: #c10037 2px solid; BORDER-LEFT: #c10037 2px solid; MARGIN-LEFT: 0px; BORDER-TOP: #c10037 2px solid; BORDER-RIGHT: #c10037 2px solid
}
INPUT[type='button'] {
	POSITION: relative; PADDING-BOTTOM: 4px; LINE-HEIGHT: 1; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: inline-block; BACKGROUND: url(/v1/images/button-overlay.png) #c10037 repeat-x; HEIGHT: 2em; COLOR: #fff; FONT-SIZE: 1em; CURSOR: pointer; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 3px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25)
}
INPUT[type='submit'] {
	POSITION: relative; PADDING-BOTTOM: 4px; LINE-HEIGHT: 1; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: inline-block; BACKGROUND: url(/v1/images/button-overlay.png) #c10037 repeat-x; HEIGHT: 2em; COLOR: #fff; FONT-SIZE: 1em; CURSOR: pointer; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 3px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25)
}
INPUT[type='reset'] {
	POSITION: relative; PADDING-BOTTOM: 4px; LINE-HEIGHT: 1; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: inline-block; BACKGROUND: url(/v1/images/button-overlay.png) #c10037 repeat-x; HEIGHT: 2em; COLOR: #fff; FONT-SIZE: 1em; CURSOR: pointer; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 3px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25)
}
BUTTON {
	POSITION: relative; PADDING-BOTTOM: 4px; LINE-HEIGHT: 1; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: inline-block; BACKGROUND: url(/v1/images/button-overlay.png) #c10037 repeat-x; HEIGHT: 2em; COLOR: #fff; FONT-SIZE: 1em; CURSOR: pointer; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 3px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25)
}
BUTTON:visited {
	POSITION: relative; PADDING-BOTTOM: 4px; LINE-HEIGHT: 1; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: inline-block; BACKGROUND: url(/v1/images/button-overlay.png) #c10037 repeat-x; HEIGHT: 2em; COLOR: #fff; FONT-SIZE: 1em; CURSOR: pointer; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 3px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25)
}
.button {
	POSITION: relative; PADDING-BOTTOM: 4px; LINE-HEIGHT: 1; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: inline-block; BACKGROUND: url(/v1/images/button-overlay.png) #c10037 repeat-x; HEIGHT: 2em; COLOR: #fff; FONT-SIZE: 1em; CURSOR: pointer; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 3px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25)
}
.button:visited {
	POSITION: relative; PADDING-BOTTOM: 4px; LINE-HEIGHT: 1; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: inline-block; BACKGROUND: url(/v1/images/button-overlay.png) #c10037 repeat-x; HEIGHT: 2em; COLOR: #fff; FONT-SIZE: 1em; CURSOR: pointer; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 3px; -moz-border-radius: 5px; -webkit-border-radius: 5px; -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25)
}
INPUT[type='button']:hover {
	BACKGROUND-COLOR: #872300; COLOR: #fff
}
INPUT[type='submit']:hover {
	BACKGROUND-COLOR: #872300; COLOR: #fff
}
INPUT[type='reset']:hover {
	BACKGROUND-COLOR: #872300; COLOR: #fff
}
BUTTON:hover {
	BACKGROUND-COLOR: #872300; COLOR: #fff
}
.button:hover {
	BACKGROUND-COLOR: #872300; COLOR: #fff
}
INPUT[type='button']:active {
	TOP: 1px
}
INPUT[type='submit']:active {
	TOP: 1px
}
INPUT[type='reset']:active {
	TOP: 1px
}
BUTTON:active {
	TOP: 1px
}
.button:active {
	TOP: 1px
}
.invalid {
	BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; PADDING-BOTTOM: 2px; BACKGROUND-COLOR: #ffccba; MARGIN-TOP: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; DISPLAY: block; COLOR: #d63301; BORDER-TOP: 1px solid; BORDER-RIGHT: 1px solid; PADDING-TOP: 2px
}
INPUT.invalid {
	BACKGROUND-IMAGE: none; PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #eee; MARGIN: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; DISPLAY: inline; PADDING-TOP: 1px
}
UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1.5em 1em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
OL {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1.5em 1em; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL {
	LIST-STYLE-POSITION: outside; LIST-STYLE-TYPE: disc
}
OL {
	LIST-STYLE-POSITION: inside; LIST-STYLE-TYPE: decimal
}
LI {
	LINE-HEIGHT: 1.5em
}
DL {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1.5em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
DT {
	LINE-HEIGHT: 1.5em; MARGIN-TOP: 1.5em; FONT-WEIGHT: bold
}
DD {
	LINE-HEIGHT: 1.5em; PADDING-LEFT: 0.75em; MARGIN-LEFT: 0px
}
.unm-tabs {
	PADDING-BOTTOM: 0.2em; PADDING-LEFT: 0.2em; PADDING-RIGHT: 0.2em; ZOOM: 1; PADDING-TOP: 0.2em
}
.unm-tabs .ui-tabs-nav {
	POSITION: relative; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0.2em; LIST-STYLE-IMAGE: none; PADDING-TOP: 0.2em
}
.unm-tabs .ui-tabs-nav LI {
	POSITION: relative; PADDING-BOTTOM: 5px; MARGIN: 0px 1px 5px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px !important; PADDING-TOP: 0px
}
.unm-tabs .ui-tabs-nav LI A {
	PADDING-BOTTOM: 0.25em; PADDING-LEFT: 0.75em; PADDING-RIGHT: 0.75em; FLOAT: left; TEXT-DECORATION: none; PADDING-TOP: 0.25em
}
.unm-tabs .ui-tabs-nav LI A {
	BACKGROUND-COLOR: #ccc
}
.unm-tabs .ui-tabs-nav LI A {
	COLOR: #555
}
.unm-tabs .ui-tabs-nav LI:hover A {
	BACKGROUND-COLOR: #555
}
.unm-tabs .ui-tabs-nav LI:hover A {
	COLOR: #fff
}
.unm-tabs .ui-tabs-nav LI.ui-tabs-selected {
	BACKGROUND: url(/v1/images/tab-down-arrow.png) no-repeat center bottom
}
.unm-tabs .ui-tabs-nav LI.ui-tabs-selected:hover {
	BACKGROUND: url(/v1/images/tab-down-arrow.png) no-repeat center bottom
}
.unm-tabs .ui-tabs-nav LI.ui-tabs-selected A {
	BACKGROUND-COLOR: #c10037; BORDER-BOTTOM-WIDTH: 0px; COLOR: #fff
}
.unm-tabs .ui-tabs-nav LI.ui-tabs-selected A:hover {
	BACKGROUND-COLOR: #c10037; BORDER-BOTTOM-WIDTH: 0px; COLOR: #fff
}
.unm-tabs .ui-tabs-nav LI.ui-tabs-selected A {
	CURSOR: text
}
.unm-tabs .ui-tabs-nav LI.ui-state-disabled A {
	CURSOR: text
}
.ui-tabs .ui-tabs-nav LI.ui-state-processing A {
	CURSOR: text
}
.unm-tabs .ui-tabs-nav LI A {
	CURSOR: pointer; FONT-WEIGHT: bold
}
.unm-tabs .ui-tabs-collapsible .ui-tabs-nav LI.ui-tabs-selected A {
	CURSOR: pointer; FONT-WEIGHT: bold
}
.unm-tabs .ui-tabs-panel {
	PADDING-BOTTOM: 0px; BORDER-RIGHT-WIDTH: 0px; MARGIN-TOP: 2em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: #fff; BORDER-TOP-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; PADDING-TOP: 1em
}
.unm-tabs .ui-tabs-hide {
	DISPLAY: none !important
}
.unm-tabs .ui-tabs-panel H3.news_source {
	DISPLAY: none
}
#tabs UL.tabs_nav {
	DISPLAY: none
}
#tabs UL.ui-tabs-nav {
	DISPLAY: inherit
}
UL.news_articles {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
UL.news_articles LI {
	BORDER-BOTTOM: #f9f9f9 1px solid; PADDING-BOTTOM: 2px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 2px
}
#ui-datepicker-div {
	BACKGROUND-COLOR: #fff
}
BODY {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(/v1/images/content_back_wide.gif) #eee repeat-y center top; COLOR: #555; PADDING-TOP: 0px
}
A {
	COLOR: #c10037; TEXT-DECORATION: underline
}
A:link {
	COLOR: #c10037; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #bd5c1a
}
A:hover {
	COLOR: #007a86
}
A IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
.clear {
	CLEAR: both
}
.clear-left {
	CLEAR: left
}
.clear-right {
	CLEAR: right
}
#page {
	MARGIN: 0px auto; WIDTH: 960px
}
.content {
	POSITION: relative; PADDING-BOTTOM: 20px; PADDING-LEFT: 20px; WIDTH: auto; PADDING-RIGHT: 20px; OVERFLOW: auto; PADDING-TOP: 20px
}
HR {
	MARGIN: 1em 0px; DISPLAY: block
}
#skipnav A {
	POSITION: absolute; WIDTH: 1px; HEIGHT: 1px; COLOR: #fff; OVERFLOW: hidden; TOP: -500px; LEFT: 0px
}
#skipnav A:hover {
	POSITION: absolute; WIDTH: 1px; HEIGHT: 1px; COLOR: #fff; OVERFLOW: hidden; TOP: -500px; LEFT: 0px
}
#skipnav A:visited {
	POSITION: absolute; WIDTH: 1px; HEIGHT: 1px; COLOR: #fff; OVERFLOW: hidden; TOP: -500px; LEFT: 0px
}
#skipnav UL:active {
	POSITION: static; WIDTH: auto; HEIGHT: auto
}
#skipnav A:active {
	POSITION: static; WIDTH: auto; HEIGHT: auto
}
#skipnav A:focus {
	POSITION: static; WIDTH: auto; HEIGHT: auto
}
.hide {
	DISPLAY: none
}
#unm_header {
	BORDER-BOTTOM: #232323 1px solid; BACKGROUND-COLOR: #5e5d60; HEIGHT: auto; OVERFLOW: auto; BORDER-TOP: #232323 1px solid
}
#unm_header_links A {
	TEXT-DECORATION: none
}
.unm_header_title {
	PADDING-LEFT: 20px; FLOAT: left; PADDING-TOP: 1px
}
.unm_header_title A {
	LINE-HEIGHT: 1.5em; COLOR: #fff; FONT-SIZE: 0.95em; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.header_content {
	PADDING-BOTTOM: 2px; MARGIN: 0px auto; PADDING-LEFT: 0px; WIDTH: 960px; PADDING-RIGHT: 0px; OVERFLOW: visible; PADDING-TOP: 1px
}
#unm_logo {
	Z-INDEX: 10; MARGIN: 0px; FLOAT: left; VERTICAL-ALIGN: top
}
#unm_header_links {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; PADDING-TOP: 0px
}
#unm_header_links UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline-block; PADDING-TOP: 0px
}
#unm_header_links LI {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-TOP: 0px
}
#unm_header_links LI A {
	LINE-HEIGHT: 1.5em; COLOR: #fff; FONT-SIZE: 0.95em; FONT-WEIGHT: bold
}
#unm_header_links LI A:hover {
	COLOR: #eee
}
#unm_search_form {
	TEXT-ALIGN: right; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline-block; WHITE-SPACE: nowrap; COLOR: #fff; FONT-SIZE: 1em; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
#unm_search_form FIELDSET {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
#unm_search_form INPUT {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; MARGIN: 0px; HEIGHT: 16px; VERTICAL-ALIGN: middle; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
#unm_search_form P {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
#unm_search_form LABEL {
	MARGIN: 0px; DISPLAY: none
}
#unm_search_form .search_button {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: transparent; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 0px
}
#unm_search_form .search_button:hover {
	BACKGROUND-COLOR: #e97d1f
}
#unm_search_form INPUT.image_button {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BACKGROUND-COLOR: transparent; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
#unm_search_form LABEL.search_query_label {
	COLOR: #fff
}
#dept_logo {
	MARGIN: 5px 1px; CLEAR: both
}
#banner_image {
	TEXT-ALIGN: center; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 1px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; HEIGHT: 125px; CLEAR: both; PADDING-TOP: 0px
}
#container {
	MARGIN: 5px 0px; CLEAR: both
}
DIV#footer {
	LINE-HEIGHT: 0.9em; MARGIN-TOP: 1em; CLEAR: both; FONT-SIZE: 0.9em
}
DIV#footer DIV.content {
	TEXT-ALIGN: right; PADDING-BOTTOM: 1em; MARGIN: 0px 1.75em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(/v1/images/graybar.gif) #fff repeat-x; PADDING-TOP: 1em
}
DIV#footer P {
	TEXT-ALIGN: left; MARGIN: 0px; DISPLAY: block; FLOAT: left
}
UL#unm_footer_links {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-TOP: 0px
}
UL#unm_footer_links LI {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 1em 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-TOP: 0px
}
#dropnav {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: #666; PADDING-TOP: 5px
}
#dropnav LI {
	Z-INDEX: 1; POSITION: relative; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: left; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
#dropnav A {
	PADDING-BOTTOM: 5px; MARGIN: 0px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; DISPLAY: block; COLOR: #fff; FONT-WEIGHT: bold; TEXT-DECORATION: none; PADDING-TOP: 5px
}
#dropnav A.submenu {
	PADDING-LEFT: 10px !important; PADDING-RIGHT: 17px !important; BACKGROUND: url(/v1/images/unm_sprites.gif) no-repeat right -112px
}
#dropnav A.submenu:hover {
	PADDING-LEFT: 10px !important; PADDING-RIGHT: 20px; BACKGROUND: url(/v1/images/unm_sprites.gif) #eee no-repeat right -112px
}
#dropnav A.current {
	BACKGROUND-COLOR: #fff; COLOR: #c10037
}
#dropnav LI:hover > A.submenu {
	BACKGROUND: url(/v1/images/unm_sprites.gif) #eee no-repeat right -112px
}
#dropnav LI:hover > A {
	BACKGROUND: #eee; COLOR: #666
}
#dropnav UL LI:hover A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #666; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
#dropnav LI:hover LI A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; BACKGROUND: none transparent scroll repeat 0% 0%; COLOR: #666; BORDER-TOP: medium none; BORDER-RIGHT: medium none
}
#dropnav UL A:hover {
	BACKGROUND: #999; COLOR: #fff !important
}
#dropnav UL LI:hover {
	BACKGROUND: #999; COLOR: #fff !important
}
#dropnav UL LI:hover A {
	COLOR: #fff
}
#dropnav LI:hover > UL {
	DISPLAY: block
}
#dropnav UL {
	Z-INDEX: 999; BORDER-BOTTOM: #666 1px solid; POSITION: absolute; BORDER-LEFT: #666 1px solid; PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px -1px; PADDING-LEFT: 0px; WIDTH: 185px; PADDING-RIGHT: 0px; DISPLAY: none; BACKGROUND: #eee; BORDER-TOP: 0px; TOP: 28px; BORDER-RIGHT: #666 1px solid; PADDING-TOP: 0px; LEFT: 0px
}
#dropnav UL LI {
	PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FLOAT: none; PADDING-TOP: 0px
}
#dropnav UL A {
	FONT-WEIGHT: normal
}
#dropnav UL LI A.submenu {
	PADDING-LEFT: 10px !important; PADDING-RIGHT: 17px !important; BACKGROUND: url(/v1/images/unm_sprites.gif) no-repeat right -70px
}
#dropnav UL LI:hover A.submenu {
	PADDING-RIGHT: 17px; BACKGROUND: url(/v1/images/unm_sprites.gif) no-repeat right 11px
}
#dropnav UL LI A.submenu:hover {
	PADDING-RIGHT: 17px; BACKGROUND: url(/v1/images/unm_sprites.gif) no-repeat right 11px
}
#dropnav UL UL {
	BORDER-BOTTOM: #999 1px solid; BORDER-LEFT: #999 1px solid; PADDING-BOTTOM: 0px; BACKGROUND-COLOR: #999; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; COLOR: #fff; BORDER-TOP: #999 1px solid; TOP: 0px; BORDER-RIGHT: #999 1px solid; PADDING-TOP: 0px; LEFT: 185px
}
#dropnav UL UL A:hover {
	BACKGROUND: #eee; COLOR: #666 !important
}
#dropnav {
	WIDTH: 100%; DISPLAY: inline-block
}
UL.slidemenu {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px 0px 2em; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-WEIGHT: bold; PADDING-TOP: 0px
}
UL.slidemenu UL {
	LIST-STYLE-TYPE: none; PADDING-LEFT: 0px; MARGIN-BOTTOM: 0px; MARGIN-LEFT: 0px
}
UL.slidemenu LI {
	PADDING-BOTTOM: 1px; LIST-STYLE-TYPE: none; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; BACKGROUND: url(/v1/images/dot.gif) repeat-x left bottom; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
UL.slidemenu LI A {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 15px; PADDING-RIGHT: 5px; DISPLAY: block; COLOR: #555; TEXT-DECORATION: none; PADDING-TOP: 3px
}
UL.slidemenu LI A:link {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 15px; PADDING-RIGHT: 5px; DISPLAY: block; COLOR: #555; TEXT-DECORATION: none; PADDING-TOP: 3px
}
UL.slidemenu LI A:visited {
	PADDING-BOTTOM: 3px; PADDING-LEFT: 15px; PADDING-RIGHT: 5px; DISPLAY: block; COLOR: #555; TEXT-DECORATION: none; PADDING-TOP: 3px
}
UL.slidemenu LI UL LI {
	PADDING-BOTTOM: 1px; PADDING-LEFT: 1px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL.slidemenu LI A:hover {
	BACKGROUND-COLOR: #c10037; COLOR: #fff
}
UL.slidemenu LI.submenu > A:hover {
	BACKGROUND: url(/v1/images/unm_sprites.gif) #c10037 no-repeat 0px 9px; COLOR: #fff
}
UL.slidemenu LI A.active {
	BACKGROUND-COLOR: #ccc
}
UL.slidemenu LI UL {
	PADDING-BOTTOM: 0px; MARGIN: 0px 0px 0px 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL.slidemenu LI UL {
	BACKGROUND: url(/v1/images/dot.gif) repeat-y left top
}
UL.slidemenu LI:hover UL LI A {
	BACKGROUND-COLOR: transparent; COLOR: #555
}
UL.slidemenu LI UL LI:hover A {
	BACKGROUND-COLOR: #ccc; COLOR: #555
}
UL.slidemenu LI.submenu > A {
	BACKGROUND: url(/v1/images/unm_sprites.gif) no-repeat 0px -72px
}
UL.slidemenu LI.openMenu > A {
	BACKGROUND: url(/v1/images/unm_sprites.gif) #555 no-repeat 0px -32px; COLOR: #fff
}
UL.slidemenu LI.openMenu {
	BACKGROUND-IMAGE: none; PADDING-BOTTOM: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; PADDING-TOP: 0px
}
UL.slidemenu LI.openMenu > A:hover {
	BACKGROUND: url(/v1/images/unm_sprites.gif) #c10037 no-repeat 0px -32px; COLOR: #fff
}
.slidemenu_all {
	TEXT-ALIGN: center; MARGIN: 0.5em; FONT-SIZE: 0.9em
}
.quickfindarea {
	MARGIN: 1.5em 0px
}
.quickfindarea H2 {
	LINE-HEIGHT: 1.5em; MARGIN: 0px; COLOR: #c10037; FONT-SIZE: 1.2em; FONT-WEIGHT: bold
}
.quickfindarea UL {
	LIST-STYLE-TYPE: none; MARGIN: 0px; LIST-STYLE-IMAGE: none
}
.quickfindarea UL LI A {
	LINE-HEIGHT: 1.5em; MARGIN: 0px 0px 0px 5px; COLOR: #333; FONT-SIZE: 1em; PADDING-TOP: 1px
}
.quickfindarea UL LI A:hover {
	COLOR: #c10037; TEXT-DECORATION: underline
}
.quicklist {
	MARGIN: 1.5em 0px
}
.quicklist H2 {
	LINE-HEIGHT: 1.5em; MARGIN: 0px; COLOR: #c10037; FONT-SIZE: 1.2em; FONT-WEIGHT: bold
}
.quicklist UL {
	LIST-STYLE-POSITION: outside; MARGIN: 0px 0px 0px 1em
}
.quicklist UL LI {
	MARGIN-BOTTOM: 3px
}
.quicklist UL LI A {
	LINE-HEIGHT: 1.5em; MARGIN: 0px; COLOR: #333; FONT-SIZE: 1em; PADDING-TOP: 1px
}
.quicklist UL LI A:hover {
	COLOR: #c10037; TEXT-DECORATION: underline
}
UL#unm_breadcrumbs {
	BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 2px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; DISPLAY: block; MARGIN-BOTTOM: 1em; MARGIN-LEFT: 0px; FONT-SIZE: 0.9em; OVERFLOW: hidden; PADDING-TOP: 2px
}
UL#unm_breadcrumbs LI {
	BORDER-BOTTOM: medium none; BORDER-LEFT: medium none; PADDING-BOTTOM: 1px; LIST-STYLE-TYPE: none; PADDING-LEFT: 1px; PADDING-RIGHT: 1px; DISPLAY: inline; MARGIN-LEFT: 0px; BORDER-TOP: medium none; LIST-STYLE-IMAGE: none; BORDER-RIGHT: medium none; PADDING-TOP: 1px
}
UL#unm_breadcrumbs .breadcrumb-div {
	PADDING-BOTTOM: 0px; PADDING-LEFT: 3px; PADDING-RIGHT: 3px; COLOR: #333; PADDING-TOP: 0px
}
UL#unm_breadcrumbs LI.unm_home:before {
	CONTENT: " "
}
.cherry {
	COLOR: #c10037
}
.box {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #f4f4f4; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 10px
}
.center-text {
	TEXT-ALIGN: center
}
.right {
	MARGIN: 0px 0px 1em 1em; FLOAT: right
}
.left {
	MARGIN: 0px 1em 1em 0px; FLOAT: left
}
.vcard {
	MARGIN-TOP: 2em
}
.vcard P {
	LINE-HEIGHT: 1.2em; FONT-SIZE: 0.95em
}
#news H2 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 13px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 0.25em; BACKGROUND: url(/v1/images/grey-drop-arrow.png) no-repeat left bottom; COLOR: #fff; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 5px
}
#events H2 {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; PADDING-BOTTOM: 13px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 0.25em; BACKGROUND: url(/v1/images/grey-drop-arrow.png) no-repeat left bottom; COLOR: #fff; BORDER-TOP: 0px; BORDER-RIGHT: 0px; PADDING-TOP: 5px
}
#feature {
	POSITION: relative; PADDING-BOTTOM: 21px; WIDTH: 680px; BACKGROUND: url(/v1/images/drop_bottom.gif) #fff no-repeat center bottom; BORDER-TOP: #bfbfbf 1px solid; PADDING-TOP: 3px
}
#feature .feature_text {
	POSITION: absolute; WIDTH: 350px; TOP: 20px; RIGHT: 20px
}
#feature .feature_text H1 {
	MARGIN: 0px; FONT-SIZE: 1.5em
}
#feature .feature_text P {
	MARGIN: 0.5em 0px 1em; FONT-SIZE: 1.2em
}
.readmore {
	TEXT-ALIGN: right
}
.hidden {
	DISPLAY: none
}
.related_links {
	PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #ddd; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; BORDER-TOP: #555 1px solid; PADDING-TOP: 10px
}
.feature {
	POSITION: relative; PADDING-BOTTOM: 21px; BACKGROUND: url(/v1/images/drop_bottom.gif) #fff no-repeat center bottom; BORDER-TOP: #bfbfbf 1px solid; PADDING-TOP: 3px
}
.feature .feature_text {
	POSITION: absolute; WIDTH: 350px; TOP: 20px; RIGHT: 20px
}
.feature .feature_text H1 {
	MARGIN: 0px; FONT-SIZE: 1.5em
}
.feature .feature_text P {
	MARGIN: 0.5em 0px 1em; FONT-SIZE: 1.2em
}
#social_toolbar {
	POSITION: relative; TEXT-ALIGN: right; PADDING-BOTTOM: 0px; LINE-HEIGHT: 16px; MARGIN: 0px; PADDING-LEFT: 20px; PADDING-RIGHT: 20px; CLEAR: both; PADDING-TOP: 0px
}
UL.share {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 10px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
DIV.share_links {
	POSITION: absolute; TEXT-ALIGN: left; WIDTH: 150px; DISPLAY: none; BACKGROUND: url(/v1/images/share_back.png) no-repeat left top; HEIGHT: 275px; TOP: -275px; RIGHT: 40px; BEHAVIOR: url(/css/iepngfix.htc)
}
DIV.share_links UL.share {
	MARGIN-TOP: 15px
}
.share A {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 40px; PADDING-RIGHT: 0px; DISPLAY: block; BACKGROUND: url(/v1/images/unm_sprites.gif) no-repeat 0px 0px; PADDING-TOP: 3px
}
A.share_delicious {
	BACKGROUND-POSITION: 15px -270px
}
A.share_digg {
	BACKGROUND-POSITION: 15px -189px
}
A.share_facebook {
	BACKGROUND-POSITION: 15px -230px
}
A.share_twitter {
	BACKGROUND-POSITION: 15px -432px
}
A.share_email {
	BACKGROUND-POSITION: 15px -472px
}
A.share_mixx {
	BACKGROUND-POSITION: 15px -148px
}
A.share_reddit {
	BACKGROUND-POSITION: 15px -311px
}
A.share_myspace {
	BACKGROUND-POSITION: 15px -391px
}
A.share_stumbleupon {
	BACKGROUND-POSITION: 15px -350px
}
A.print {
	PADDING-BOTTOM: 5px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; BACKGROUND: url(/v1/images/unm_sprites.gif) no-repeat 0px -553px; PADDING-TOP: 5px
}
A.sharethis {
	PADDING-BOTTOM: 4px; PADDING-LEFT: 20px; PADDING-RIGHT: 0px; BACKGROUND: url(/v1/images/unm_sprites.gif) no-repeat 0px -513px; PADDING-TOP: 3px
}
#unm_panel {
	Z-INDEX: 2; POSITION: absolute; FILTER: alpha(opacity=98); BACKGROUND-COLOR: #333; WIDTH: 100%; DISPLAY: none; COLOR: #fff; TOP: 0px; LEFT: 0px; -moz-opacity: 0.98; -khtml-opacity: 0.98; opacity: 0.98
}
#unm_panel_content {
	POSITION: relative; FILTER: alpha(opacity=100); MARGIN: 0px auto; WIDTH: 940px; COLOR: #fff; OVERFLOW: hidden; PADDING-TOP: 10px; -moz-opacity: 1; -khtml-opacity: 1; opacity: 1
}
#unm_panel H2 {
	BORDER-BOTTOM: #fff 1px solid; PADDING-BOTTOM: 2px; MARGIN-BOTTOM: 10px
}
.unm_panel_open A {
	PADDING-RIGHT: 16px; BACKGROUND: url(/v1/images/unm_sprites.gif) no-repeat 100% -35px; FONT-WEIGHT: bold
}
#unm_panel_close {
	Z-INDEX: 1; POSITION: relative; TEXT-ALIGN: right; WIDTH: auto; PADDING-RIGHT: 5px; BACKGROUND: url(/v1/images/unm_panel_back.gif) #333 repeat-x left bottom; CLEAR: both; CURSOR: pointer
}
#unm_panel_tab {
	POSITION: absolute; TOP: 0px; CURSOR: pointer; RIGHT: 5px
}
#unm_panel_col1 {
	MARGIN: 0px 10px; WIDTH: 420px; FLOAT: left
}
#unm_panel_col2 {
	MARGIN: 0px 10px; WIDTH: 250px; FLOAT: left
}
#unm_panel_col3 {
	MARGIN: 0px 10px; WIDTH: 210px; FLOAT: left
}
#unm_panel A {
	BACKGROUND-IMAGE: none; COLOR: #fff
}
#unm_panel A:visited {
	BACKGROUND-IMAGE: none; COLOR: #fff
}
#unm_panel UL.panel_links {
	PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: -10px 0px 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; LIST-STYLE-IMAGE: none; PADDING-TOP: 0px
}
#unm_panel UL.panel_links LI {
	BORDER-BOTTOM: #ccc 1px solid; PADDING-BOTTOM: 5px; LIST-STYLE-TYPE: none; MARGIN: 0px 5px; PADDING-LEFT: 45px; WIDTH: 155px; PADDING-RIGHT: 0px; DISPLAY: inline; BACKGROUND: url(/v1/images/panel_sprites.png) no-repeat; FLOAT: left; LIST-STYLE-IMAGE: none; PADDING-TOP: 10px
}
#unm_panel UL.panel_links LI:hover {
	BACKGROUND-COLOR: #999
}
#unm_panel UL.panel_links LI H3 {
	MARGIN: 0px
}
#unm_panel UL.panel_links LI A {
	COLOR: #fff
}
#unm_panel UL.panel_links LI A:visited {
	COLOR: #fff
}
#unm_panel UL.panel_links LI.panel_link_library {
	BACKGROUND-POSITION: 5px 12px
}
#unm_panel UL.panel_links LI.panel_link_gw {
	BACKGROUND-POSITION: 5px -500px
}
#unm_panel UL.panel_links LI.panel_link_webmail {
	BACKGROUND-POSITION: 5px -244px
}
#unm_panel UL.panel_links LI.panel_link_webct {
	BACKGROUND-POSITION: 5px -180px
}
#unm_panel UL.panel_links LI.panel_link_studentinfo {
	BACKGROUND-POSITION: 5px -308px
}
#unm_panel UL.panel_links LI.panel_link_fastinfo {
	BACKGROUND-POSITION: 5px -436px
}
#unm_panel UL.panel_links LI.panel_link_myunm {
	BACKGROUND-POSITION: 5px -52px
}
#unm_panel UL.panel_links LI.panel_link_az {
	BACKGROUND-POSITION: 5px -372px
}
#unm_panel UL.panel_links LI.panel_link_directory {
	BACKGROUND-POSITION: 5px -116px
}
#unm_alert {
	PADDING-BOTTOM: 10px; MARGIN: 0px; PADDING-LEFT: 60px; PADDING-RIGHT: 60px; BACKGROUND: url(/v1/images/message_icons/alert.png) #c10037 no-repeat 20px 5px; COLOR: #fff; FONT-SIZE: 1.5em; FONT-WEIGHT: bold; PADDING-TOP: 10px
}
#unm_alert A {
	COLOR: #fff
}
#unm_alert P {
	MARGIN: 0px
}
.unm_weather {
	COLOR: #fff
}
#unm_weather_header {
	BORDER-BOTTOM: #999 1px solid; PADDING-BOTTOM: 5px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-SIZE: 1.2em; FONT-WEIGHT: bold; PADDING-TOP: 5px
}
.unm_weather_timestamp {
	FONT-SIZE: 0.7em; FONT-WEIGHT: normal
}
.unm_weather_current_img {
	FLOAT: left
}
.unm_weather_current_img IMG {
	BEHAVIOR: url(/v1/stylesheets/iepngfix.htc)
}
#unm_weather_current_conditions {
	TEXT-ALIGN: left; HEIGHT: 128px; MARGIN-LEFT: 125px; FONT-SIZE: 1.25em
}
.unm_weather_current_temp {
	MARGIN-BOTTOM: 10px; FONT-SIZE: 2.5em; FONT-WEIGHT: bold
}
.unm_weather_temps {
	MARGIN-BOTTOM: 10px
}
.unm_weather_current_condition {
	FONT-SIZE: 1.2em
}
.unm_weather_data {
	PADDING-RIGHT: 20px; FLOAT: left
}
#unm_weather_conditions {
	BORDER-BOTTOM: #999 1px solid; PADDING-BOTTOM: 10px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; MARGIN-BOTTOM: 10px; PADDING-TOP: 10px
}
#unm_weather_current_details {
	FONT-SIZE: 0.75em
}
.info {
	BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; PADDING-BOTTOM: 15px; MARGIN: 10px 0px; PADDING-LEFT: 50px; PADDING-RIGHT: 10px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 10px 15px; BORDER-TOP: 1px solid; BORDER-RIGHT: 1px solid; PADDING-TOP: 15px
}
.success {
	BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; PADDING-BOTTOM: 15px; MARGIN: 10px 0px; PADDING-LEFT: 50px; PADDING-RIGHT: 10px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 10px 15px; BORDER-TOP: 1px solid; BORDER-RIGHT: 1px solid; PADDING-TOP: 15px
}
.warning {
	BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; PADDING-BOTTOM: 15px; MARGIN: 10px 0px; PADDING-LEFT: 50px; PADDING-RIGHT: 10px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 10px 15px; BORDER-TOP: 1px solid; BORDER-RIGHT: 1px solid; PADDING-TOP: 15px
}
.error {
	BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; PADDING-BOTTOM: 15px; MARGIN: 10px 0px; PADDING-LEFT: 50px; PADDING-RIGHT: 10px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 10px 15px; BORDER-TOP: 1px solid; BORDER-RIGHT: 1px solid; PADDING-TOP: 15px
}
.alert {
	BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid; PADDING-BOTTOM: 15px; MARGIN: 10px 0px; PADDING-LEFT: 50px; PADDING-RIGHT: 10px; BACKGROUND-REPEAT: no-repeat; BACKGROUND-POSITION: 10px 15px; BORDER-TOP: 1px solid; BORDER-RIGHT: 1px solid; PADDING-TOP: 15px
}
.info {
	BACKGROUND-IMAGE: url(/v1/images/message_icons/info.png); BACKGROUND-COLOR: #bde5f8; COLOR: #00529b
}
.success {
	BACKGROUND-IMAGE: url(/v1/images/message_icons/success.png); BACKGROUND-COLOR: #dff2bf; COLOR: #4f8a10
}
.warning {
	BACKGROUND-IMAGE: url(/v1/images/message_icons/warning.png); BACKGROUND-COLOR: #feefb3; COLOR: #9f6000
}
.error {
	BACKGROUND-IMAGE: url(/v1/images/message_icons/error.png); BACKGROUND-COLOR: #ffbaba; COLOR: #d8000c
}
.alert {
	BACKGROUND-IMAGE: url(/v1/images/message_icons/alert.png); BACKGROUND-COLOR: #ffccba; COLOR: #d63301
}
#container {
	BACKGROUND-COLOR: transparent; MARGIN: 0px auto; WIDTH: 960px; OVERFLOW: auto
}
.fullwidth#container {
	
}
.col2#container {
	BACKGROUND: url(/v1/images/container_back.gif) repeat-y -721px 0px
}
.col3#container {
	BACKGROUND: url(/v1/images/container_back.gif) repeat-y -241px 0px
}
#primary_aside {
	POSITION: relative
}
.fullwidth #primary_aside {
	
}
.fullwidth #primary_aside .content {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.col2 #primary_aside {
	WIDTH: 240px; FLOAT: left
}
.col3 #primary_aside {
	MIN-HEIGHT: 400px; WIDTH: 240px; FLOAT: left
}
#secondary_aside {
	POSITION: relative
}
.fullwidth #secondary_aside {
	
}
.col2 #secondary_aside {
	WIDTH: 240px; FLOAT: left; CLEAR: left
}
.col3 #secondary_aside {
	WIDTH: 240px; FLOAT: right
}
#content_top {
	BACKGROUND-COLOR: #fff
}
#content_top .content {
	POSITION: relative; PADDING-BOTTOM: 2px !important; OVERFLOW: auto
}
.fullwidth #content_top {
	
}
.col2 #content_top {
	WIDTH: 720px; FLOAT: right
}
.col3 #content_top {
	WIDTH: 720px; FLOAT: right
}
#content {
	POSITION: relative
}
.fullwidth #content {
	
}
.col2 #content {
	WIDTH: 720px; FLOAT: right
}
.col3 #content {
	WIDTH: 480px; FLOAT: left
}
